.features{
	padding: 100px 0;
}
h1{
	text-align: center;
	padding-bottom: 30px;
}
.feature-img img{
	width:100%;
}
.feature-img{
	position: relative; 
}
.features .fa{
	font-size: 15px;
	color: #ff5722;
}
.feature-details{
	padding : 20px;
	text-align: justify;
}
.feature-details h4{
	font-weight: 600;
	margin-top: 20px;
}
.feature-details .fa{
	margin-right: 5px;
}
.feature-box{
	box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
	margin-bottom: 30px;
}
footer p{
    text-align: center;
}
